body {
    background-image: url('../public/fon.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
  }
  .button {
    display: inline-block;                
    padding: 12px 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
  
    transform: scale(1);                 
    transition: transform 0.3s ease, 
                all 0.3s ease;
  }
  .tree-grid
  {
    display: flex;
    flex-direction: row;
  }
  .peerv
  {
    width: 91.19999694824219;
    height: 120;
  }
  .main-tree
  {
    
  }
  .button:hover {
    background: rgba(255,255,255,0.25);
    transform: scale(1.05);              
  }
  .layout {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    height: calc(100vh - 60px);
    overflow: hidden;
    height: auto;
  }
  .toys-grid
  {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, auto);
  }
  
  .left-panel, .right-panel {
  
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    overflow-y: auto;
  }
  .toy-on-tree {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;  
    z-index: 5;            
  }
  .garland-on-tree {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    z-index: 4;
    animation: blink 1.6s infinite ease-in-out;
  }
  .tree-area
  {
    position: relative;
      display: flex;
      justify-content: center;
    position: relative;
  }
  
  @keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
  }