body {
    background-image: url('../public/fon.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
  }
  .button {
    display: inline-block;                
    padding: 12px 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
  
    transform: scale(1);                 
    transition: transform 0.3s ease, all 0.3s ease;
  }
  .main-tree
  {
    padding-left: 280px;
  }
  .button:hover {
    background: rgba(255,255,255,0.25);
    transform: scale(1.05);              
  }
  .layout {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    height: calc(100vh - 60px);
    overflow: hidden;
    height: auto;
  }
  
  .left-panel, .right-panel {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    overflow-y: auto;
  }

  .toy{
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .toys-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.toys-grid div{
  min-width: 70px;

}