body {
    background-image: url('../public/fon.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  

}

.text{
    background: red;
}
.btn{
    text-decoration: none;
}